.snackbar-container {
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-size: 18px;
        color: #ffffff;
        flex: 0 0 90%;
    }
    b:hover {
        color: #808080;
        cursor: pointer;
    }
}

#snackbar-actions {
    display: inline;
    flex: 0 0 10%;
    button {
        float: right;
    }
}

::ng-deep {
    .mat-snack-bar-container {
        background-color: rgb(46, 46, 46);
        padding: 0px;
        min-width: 400px;
        color: #8e4dff;
        border: solid 0.5px #000000;
        border-radius: 5px;
    }
}