<div id="cookies-container">
    <div class="row">
        <div class="col1">
            <div id="cookie-containers-container">
                <mat-toolbar class="mat-elevation-z8">
                    <b>Browse Cookie Containers</b>
                    <span class="spacer"></span>
                    <mat-icon
                        matTooltip='Cookie containers hold all cookies created under their respective domain. Each cookie container name must be unique.'
                        matTooltipPosition='after'>
                        info
                    </mat-icon>
                </mat-toolbar>
                <cookie-containers (cookieMapsContainersSelection)='getCookieMapsContainer($event)'></cookie-containers>
            </div>
        </div>
        <div class="col2">
            <cookie-container-toolbar [cookieMapsContainer]='cookieMapsContainer'></cookie-container-toolbar>
            <div id="cookies-container">
                <div class="sub-col1">
                    <cookie-maps
                        *ngIf="cookieMapsContainer"
                        [containerNum]='cookieMapsContainer.containerNum'>
                    </cookie-maps>
                </div>
                <div class="sub-col2">
                </div>
            </div>
        </div>
    </div>
</div>