#cookies-container {
    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .col1, .col2 {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        padding: 10px;
        margin: 10px;
    }
    .col1 {
        flex: 1;
    }
    .col2 {
        flex: 3;
        border: solid 1px black;
    }
    .cookie-templates-container {
        margin-bottom: 15px;
    }
}