@import '../../base-styles/colors_base.scss';
@import '../../base-styles/styles_base.scss';

#cookies-container {
    .mat-toolbar-row, .mat-toolbar-single-row { height: 50px; }
    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .col1, .col2 {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        padding: 10px;
        margin: 10px;
    }
    .col1 { flex: 1; }
    .col2 { flex: 3; }
    #cookie-containers-container {
        .mat-toolbar { background-color: $primary; }
        mat-icon:hover { cursor: pointer; }
    }
    #cookies-container {
        height: 64vh;
        background-color: $standard;
        display: flex;
        flex-wrap: wrap;
        .sub-col1 {
            flex: 1; border:
            $border-standard;
            background-color: $standard-deep; }
        .sub-col2 { flex: 3; border: $border-standard; }
    }
}