form {
    div {
        padding: 10px;
    }
    mat-radio-button {
        padding: 5px;
    }
}

button {
    margin-top: 20px;
    font-size: 20px;
    padding: 5px 50px;
    border: solid 1px #000000;
    background-color: rgb(223, 223, 223);
}

.notAllowed {
    cursor: not-allowed;
}