.primary-background {
    background-color: #ffd102;
}

.secondary-background {
    background-color: #ffd000;
}

.light-background {
    background-color: #ffd10271;
}

.standard-background {
    background-color: #dbdbdb
}