#cookie-builder-form {
    mat-form-field {
        width: 300px;
    }
    mat-label {
        color: #04202d;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #04202d;
    }
    .mat-form-field-outline {
        background-color: rgb(223, 223, 223);
    }
    mat-icon {
        padding-right: 10px;
    }
}

#cookie-form-general-styling {
    .mat-form-field-flex > .mat-form-field-infix {
        padding: 0.4em 0px !important;
    }
    .mat-form-field-label-wrapper {
        top: -1.5em;
    }
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.1em) scale(.75);
        width: 133.33333%;
    }
}