#cookies-container {
    .mat-toolbar {
        background-color: #ccccccad;
        border: solid 1px #414141;
    }
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 45px;
    }
    .mat-list-base .mat-list-item {
        height: 40px !important;
        cursor: pointer;
    }
    #cookie-maps-containers-list {
        background: #eeeeee;
        border: solid 1px #414141;
        border-top: none;
        .mat-list-item:hover {
            background: #8a8a8a;
        }
        h4 {
            width: 350px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        #add-cookie-map-container {
            border-top: solid 1px black;
            background-color: #ccccccad;
            height: 50px !important;
        }
        #add-cookie-map-container:hover {
            background: #b4b4b4;
        }
    }
}

#dialog {
    .mat-icon-button {
        background-color: transparent;
        border: none;
        float: right;
        transform: translateY(-5px);
    }
}

#create-cookie-container-form {
    .mat-form-field {
        width: 90%;
    }
}