<div class="nav-menu-container mat-elevation-z8">
    <mat-toolbar class="nav-menu-toolbar">
        <button mat-icon-button (click)="navmenu.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="title" routerLink='/'>FullStack Handyman</h1>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #navmenu mode='over' [fixedInViewport]="true" fixedTopGap="75">
            <mat-nav-list>
                <a *ngFor="let cookieRoute of cookieRoutes" mat-list-item (click)='navmenu.close()'
                    [routerLink]='[cookieRoute.route]'>
                    <img src="{{cookieRoute.icon}}" alt="cookie">
                    <h2>{{cookieRoute.title}}</h2>
                </a>
                <mat-divider></mat-divider>
                <a *ngFor="let httpRoute of httpRoutes" mat-list-item (click)='navmenu.close()'
                    [routerLink]='[httpRoute.route]'>
                    <img src="{{httpRoute.icon}}" alt="cookie">
                    <h2>{{httpRoute.title}}</h2>
                </a>
                <mat-divider></mat-divider>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>