.nav-menu-container {
    height: 100%;
}

mat-sidenav-container {
    background-color: transparent;
}

mat-sidenav {
    width: 300px;
    left: 0;
    background-color: #dbdbdb;
    color: #000000;
    border: solid 0.5px #505050;
}

mat-sidenav-content {
    margin-top: 20px;
}

.nav-menu-toolbar {
    background-color: #c7c7c7;
    color: #000000;
    border: solid 0.5px #505050;
    border-radius: 10px;
}

.title {
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

img {
    width: 50px;
    margin-right: 20px;
}

::ng-deep {
    .mat-list-base .mat-list-item {
        height: 60px !important;
    }
}