.primary-background {
    background-color: #7e33ff;
}

.secondary-background {
    background-color: #8e4dff;
}

.light-background {
    background-color: #b990ff;
}

.standard-background {
    background-color: #e0e0e0
}