#cookies-container {
    .mat-toolbar {
        // background-color: #ccccccad;
        border: solid 1px #414141;
    }
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: 45px;
    }
    .mat-list-base .mat-list-item {
        height: 45px !important;
        cursor: pointer;
    }
    #cookie-maps-containers-list {
        background: #e0e0e0;
        border: solid 1px #414141;
        border-top: none;
        .mat-list-item:hover {
            background: #a7a7a7;
        }
        h4 {
            width: 350px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        #add-cookie-map-container {
            border-top: solid 1px black;
            background-color: #ccccccad;
            height: 50px !important;
        }
        #add-cookie-map-container:hover {
            background: #b4b4b4;
        }
    }
    #cookie-templates-list {
        background: #c5c5c5;
        border: solid 1px #414141;
        border-top: none;
        padding-top: 0px;
        .mat-list-item:hover {
            background: #b4b4b4;
        }
        .mat-icon {
            padding-left: 5px;
        }
    }
}

#dialog {
    border: solid 1px #000000;
    .mat-icon-button {
        background-color: transparent;
        border: none;
        float: right;
        transform: translateY(-5px);
    }
    mat-divider {
        border: solid 0.5px #000000;
    }
    mat-label, .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #000000;
    }
}

#create-cookie-container-form {
    .mat-hint {
        color: #000000;
    }
}