<div class='cookie-builder-container'>
    <div class='header-row'>
        <h2>Cookie Builder</h2>
        <mat-divider></mat-divider>
    </div>
    <div id='cookie-builder-form' class='body-row'>
        <form [formGroup]='cookieForm'>
            <mat-form-field appearance="outline">
                <mat-label>Please select a data model</mat-label>
                <mat-select formControlName='dataModel'>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor='let dataModelOption of dataModelOptions' [value]='dataModelOption'>
                        {{dataModelOption}}
                    </mat-option>
                </mat-select>
                <mat-icon matPrefix>label</mat-icon>
            </mat-form-field>
            <div [ngSwitch]='checkSelectedDataModelOption()'>               
                <dashboard-form *ngSwitchCase='0' (dataModelEmitter)='fetchCookiesInContext($event)'></dashboard-form>
                <span *ngSwitchDefault>No data model provided</span>
            </div>
        </form>
    </div>
</div>