<div id="dialog">
    <h1 mat-dialog-title [ngStyle]="{'background-color': data.style.color}">
        {{data.header}}
        <button mat-icon-button (click)='close()'>
            <mat-icon>close</mat-icon>
        </button>
    </h1>
    <div mat-dialog-content>
        <p *ngIf="data.message">{{data.message}}</p>
        <ng-template #dialogContent></ng-template>
    </div>
    <mat-divider></mat-divider>
    <div class="action-buttons" mat-dialog-actions align='end'>
        <button
            [ngClass]="!isValidForm ? 'disabled' : 'enabled'"
            mat-button
            [mat-dialog-close]='dialogSubmissionData'
            [disabled]='!isValidForm'>{{data.footerButton1}}</button>
        <button
            *ngIf="data.footerButton2"
            mat-button (click)='close()'>
            {{data.footerButton2}}
        </button>
    </div>
</div>