::ng-deep {
    .mat-dialog-container {
        padding: 0px;
        overflow: hidden;
    }
    .mat-dialog-title {
        padding: 10px;
        padding-left: 20px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .mat-dialog-content > p {
        padding: 20px;
        padding-top: 0px;
        border-bottom: solid 1px #000000;
    }
    .mat-dialog-actions {
        margin-bottom: unset;
        padding-bottom: 12px;
        padding-right: 20px;
    }
}

.action-buttons {
    button:first-child {
        color: #ffffff;
        background-color: #8a8a8a;
    }
    button:last-child {
        color: #ffffff;
        background-color: #414141;
    }
}