<mat-list id="cookie-maps-containers-list">
    <div>
        <mat-list-item *ngFor="let cookieMapContainer of cookieMapsContainers | async"
            matTooltip='{{cookieMapContainer.name}}'
            matTooltipPosition='after'>
            <h4 mat-line>{{cookieMapContainer.name}}</h4>
            <span mat-line class="container-tag">{{cookieMapContainer.tag}}</span>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </mat-list-item>
    </div>
    <div>
        <mat-list-item id="add-cookie-map-container" (click)='createCookieMapsContainer()'>
            Add new container
            <mat-icon>add</mat-icon>
        </mat-list-item>
    </div>
</mat-list>